.react-form-builder-preview {
    min-height: 1125px !important;
}

.form-place-holder {
    height: 1085px;
}

.react-form-builder .react-form-builder-toolbar {
    margin-top: 0;
}

.app_header {
    margin-bottom: 50px;
    margin-top: 20px;
    height: 40px;
}

.form-builder-name {
    display: flex;
    align-items: center;
}

input#form_builder_name {
    width: 100%;
    margin-left: 20px;
    max-width: 69%;
    border: none !important;
    border-bottom: 1px solid #000 !important;
}

input#form_builder_name:focus-visible {
    outline: none !important
}